<div class="gray-background white-text">
  <section class="wow fadeIn animated">
    <div class="container NoticiaText upper-padding">
      <div class="col-md-8 col-md-offset-2">
        <div class="page-header center">
          <h1>
            Founder's Day
            <small class="apply-small">
            </small>
          </h1>
        </div>
        <div class="panel panel-default center">
          <div class="panel-heading">
            <h3 class="panel-title">
              Overview
            </h3>
          </div>
          <div class="panel-body black-text">
            We're kicking off a year of celebrating one hundred and twenty years of the 
            Banks of the Old Raritan! Join Cap & Skull on January 18th at the Rutgers 
            Club from 6:00 p.m. to 10:00 p.m. for camaraderie, cocktails, and 
            celebration! It is not an anniversary party to be missed! 
            <br><br>
            If you're in Boston, join your fellow Bostonian Skulls (and guests) on 
            January 18th in the lounge of La Fabrica (450 Massachusetts Avenue in 
            Cambridge) from 6:00 p.m. to 10:00 p.m. EST! Find our Facebook event 
            <a href="https://www.facebook.com/events/602503657175101/?notif_t=plan_user_invited&notif_id=1575913137326945" target="_BLANK">
              here
            </a>
            !
            <br><br>
            If you're in the Bay Area, join your fellow Bay Area Skulls (and guests) 
            on January 18th at Spats (1974 Shattuck Ave in Berkeley) from 3:00 p.m. to 
            7:00 p.m. PST! Find our Facebook event 
            <a href="https://www.facebook.com/events/800053843741174/?notif_t=plan_user_invited&notif_id=1575913412740423" target="_BLANK">
              here
            </a>
            !
            <br><br>
            Questions? Email Gabrielle Rossi or call 908-821-6998.
            <br><br>
            Tickets can be found 
            <a href="https://www.cvent.com/events/cap-skull-120th-founder-s-day/event-summary-7055afbea5f74263bac31243ba33f8a9.aspx" target="_BLANK">
              here
            </a>
            !
            <br><br>
            Young Alumni and their guests (Classes of 2011-2019): $25
            <br>
            Alumni and their guests: $50
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
