<div class="gray-background white-text">
  <section class="wow fadeIn animated">
    <div class="container NoticiaText upper-padding">
      <div class="col-md-8 col-md-offset-2">
        <div class="page-header center">
          <h1>Events <small class="apply-small"></small></h1>
        </div>

        <div class="panel panel-default center">

          <div class="panel-heading">
            <h3 class="panel-title">
              <a
                href="https://calendar.google.com/calendar?cid=NnZmdGdrMnBrMmpwczM0OTNvMDFxcnVmbmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ"
                target="_blank">
                <b>
                  Follow our Google Calendar!
                </b>
              </a>
            </h2>
          </div>
          <div class="panel-heading">
            <h3 class="panel-title">Founder's Day</h3>
          </div>
          <div class="panel-body black-text">
            We're kicking off a year of celebrating one hundred and twenty years of the Banks of the Old Raritan! Join Cap & Skull on January 18th at the Rutgers Club from 6:00 p.m. to 10:00 p.m. for camaraderie, cocktails, and celebration! It is not an anniversary party to be missed! Don't live locally? We still want to celebrate with you! Look out for details about Founder's Day events happening across the country in the Baltimore-DC area and the San Francisco Bay Area.
            <br><br>
 
            Questions? Email Gabrielle Rossi or call 908-821-6998.            <br><br>

 
            Tickets can be found <a href="ralumni.com/foundersday">here</a>!            <br><br>

 
            Young Alumni and their guests (Classes of 2011-2019): $25
            Alumni and their guests: $50
          </div>

        </div>

      </div>
    </div>
  </section>
</div>
