<div class="gray-background white-text">
  <section class="wow fadeIn animated">
    <div class="container NoticiaText upper-padding">
      <div class="col-md-8 col-md-offset-2">
        <div class="page-header center">
          <h1>Events <small class="apply-small"></small></h1>
        </div>

        <div class="panel panel-default center">

          <div class="panel-heading">
            <h3 class="panel-title">
              <a
                href="https://calendar.google.com/calendar?cid=NnZmdGdrMnBrMmpwczM0OTNvMDFxcnVmbmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ"
                target="_blank">
                <b>
                  Follow our Google Calendar!
                </b>
              </a>
            </h2>
          </div>
          <div class="panel-heading">
            <h3 class="panel-title">Summer Mixers</h3>
          </div>
          <div class="panel-body black-text">
            <a href="https://mailchi.mp/d37be2cdbe89/summer-mixers-2019">Thank you to everyone who joined us for one of our summer mixers from coast to coast!</a>
          </div>

        </div>

      </div>
    </div>
  </section>
</div>
